extends layout

block content
    
    h1 Followings

    -for(var i = 0; i < otherUser.Followings.length ; i++)
        .postIdBox(onclick=`location.href ='/user/${otherUser.Followings[i].id}'` style="width:200px; cursor:pointer; padding:10px; border-bottom:1px solid gray")
            div
                img(src=otherUser.Followings[i].profile)
            span.nickname
                =otherUser.Followings[i].nickname