extends layout

block content
    
    h1 Followers

    -for(var i = 0; i < otherUser.Followers.length ; i++)
        .postIdBox(onclick=`location.href ='/user/${otherUser.Followers[i].id}'` style="width:200px; cursor:pointer; padding:10px; border-bottom:1px solid gray")
            div
                img(src=otherUser.Followers[i].profile)
            span.nickname
                =otherUser.Followers[i].nickname