<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Warning
    body
        span(style="display:none")= msg

        script.
            var msg = document.querySelector('span').innerText
            alert(msg);
            history.back();