doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      a(href="/") SWEETER
      #searchContainer
        form(action="/search", method="post")
          input#search(type="text" name="keyword" placeholder="Enter what you want to search!" )
        #resultBox(style="display:none;")
      #authContainer
        if user
          .postIdBox
            span Welcome, #{user.nickname}!
            div(onclick=`location.href='/user/${user.id}'`)
              img(src=user.profile)
            button.authButton(onclick="location.href= '/logout' ") Logout
        else
          button.authButton(onclick="location.href = '/login'") Login
          button.authButton(onclick="location.href = '/join'") Join
    #nav
    main
      block content
    script(src="/javascripts/search.js")
        
